table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color:#9FB6CD; 
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}
/* Style for ordered list */
ol {
    list-style-type: upper-roman;
    font-weight: bold;
    margin-left: 40px;
    color: #2a2a2a;
}

/* Style for unordered list */
ul {
    list-style-type: square;
    font-style: italic;
    margin-left: 40px;
    color: #006400;
}
body {
    background-image: url(/Users/233419/Downloads/really.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* your existing styles... */
table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}